#aside1 {
    border-style: solid;
    padding: 1%;
    margin: 1%;
    left: 25%;
    
}

#aside2 {
    border-style: solid;
    padding: 1%;
    margin: 1%;
    left: 25%;
}


#titulonoticias{
    position: relative;
    left: 37%;
}

.dpitem:hover {
    background-color: black;
    color: white;
}

#fotografia-perfil {
    width: 150px;
    height: 150px;
}

#comodoPiezas {
    height: 5%;
    width: 35%;
}

#frameGeolocalizacion {
    display: block;
    width: 100%;
    height: 400px;
    margin: 0 auto;
}

#map {
    display: block;
    width: 100%;
    height: 300px;
    margin: 0 auto;
}